{% extends 'legendary/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div>
    </br>
    <h1>Welcome to Legendary Scottish Internships</h1>
    </br>
    <p class="a">If you are new here, please go to Register</p>
    <p class="b">If you are already a member, please go to Login</p>
    <p class="c">If you would like to know more about our website, just click About!</p>

    {% if user.is_authenticated %}
        <form action="{% url 'legendary:index' %}" method="post" style="text-align: center; margin-top: 20px;">
            {% csrf_token %}
            <button type="submit" 
            style="padding: 10px 20px; 
            font-size: 16px; 
            background-color: #d73616; 
            color: white; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer;">
                Logout
            </button>
        </form>
    {% endif %}
</div>
<style>
    p.a {
        font-family: 'Georgia', serif;
        font-size: 22px;
        color: #d73616;
        line-height: 1.6;
        text-align: center;
        word-spacing: 8px;
        vertical-align: middle;
        margin-right: 159px;
        margin-top: 130px;
    }

    p.b {
        font-family: 'Georgia', serif;
        font-size: 22px;
        color: #d73616;
        line-height: 1.6;
        text-align: center;
        word-spacing: 8px;
        vertical-align: middle;
        margin-right: 100px;
        margin-top: 1px;
    }

    p.c {
        font-family: 'Georgia', serif;
        font-size: 22px;
        color: #d73616;
        line-height: 1.6;
        text-align: center;
        word-spacing: 8px;
    }

    body{
        background-image:url("{% static 'images/index.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        height: 100vh; /* Ensure the body covers the full viewport height */
        margin: 0; /* Remove default margin */
    }
</style>

{% endblock %}
