{% extends 'legendary/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
<div class="topnav">
    <a href="{% url 'legendary:profile' %}">Profile</a>
    <a href="{% url 'legendary:about' %}">About</a>
    <a href="{% url 'legendary:index' %}">Home</a>
</div>
<style>
body{
    background-image:url("{% static 'images/index.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; /* Ensure the body covers the full viewport height */
    margin: 0; /* Remove default margin */
}
</style>

{% endblock %}