{% extends 'legendary/base.html' %}
{% load staticfiles %}

{% block title_block %}
Listings
{% endblock %}

{% block body_block %}
<script src="{% static "js/legendary_listings.js" %}" crossorigin="anonymous"></script>
<div>
    <h1>Welcome to the Legendary Scottish Internships listings page</h1>
</div>

<div class="filter">
    <h3>Filters</h3>
    <input id="filter-name" type="text" placeholder="Name">
    <button id="filter-button-name">Filter Name</button></br></br>
    <input id="filter-company" type="text" placeholder="Company">
    <button id="filter-button-company">Filter Company</button></br></br>
    <input id="filter-location" type="text" placeholder="Location">
    <button id="filter-button-location">Filter Location</button>
</div>

<div class="split listings">
    <h3>Listings</h3>
    <button id="hide-non-favourites">Hide Non-Favourites</button></br>
    {% for listing in listings %}
        <div class="listing">
            <p class="name" style="display: inline-block">{{ listing.name }}</p>
            <p style="display: inline-block"> </p>
            <button class="favourite" style="display: inline-block">Favourite</button>
            <div class="hidden" style="display: none">
                <p class="company">{{ listing.company_id }}</p>
                <p class="description">{{ listing.description }}</p>
                <p class="closedate">{{ listing.closing_date }}</p>
                <p class="startdate">{{ listing.start_date }}</p>
                <p class="enddate">{{ listing.end_date }}</p>
                <p class="salary">{{ listing.salary }}</p>
                <p class="address">{{ listing.address }}</p>
                <p class="checklist">{{ listing.checklist }}</p>
                <div class="comments">
                    {% for comment in listing.comment_set.all %}
                        <div class="comment">
                            <p>User <strong>{{ comment.user_id }}</strong> says:</p>
                            <p>{{ comment.data }}</p>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </div>
    {% endfor %}
</div>

<div class="split internship">
    <div class="details">
        <h3 id="name">No internship selected</h3>
        <h4 id="company"></h4>
        <p style="display: inline-block"><strong>Description: </strong></p>
        <p id="description" style="display: inline-block"></p></br>
        <p style="display: inline-block"><strong>Closing Date: </strong></p>
        <p id="closedate" style="display: inline-block"></p></br>
        <p style="display: inline-block"><strong>Starting Date: </strong></p>
        <p id="startdate" style="display: inline-block"></p></br>
        <p style="display: inline-block"><strong>Ending Date: </strong></p>
        <p id="enddate" style="display: inline-block"></p></br>
        <p style="display: inline-block"><strong>Salary: </strong></p>
        <p id="salary" style="display: inline-block"></p></br>
        <p style="display: inline-block"><strong>Address: </strong></p>
        <p id="address" style="display: inline-block"></p></br>
        <p><strong>Things to do: </strong></p>
        <p id="checklist"></p>
        <textarea id="report_reason" type="text" placeholder="Enter reason for reporting"></textarea></br>
        <a id="report" href="">Report incorrect/missing information</a></br>
            {% if user.is_authenticated %}
                <h4>Leave a comment</h4>
                <input id="comment" type="text" placeholder="Enter comment...">
                <a id="post_comment" href="">Post</a>
            {% endif %}
        <h4>Comments</h4>
        <div id="comments"></div>
    </div>
</div>

<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url("{% static 'images/index.jpg' %}"); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
}
.split {
    display:inline-block;
    height: 70vh;
    width: 40%;
    background-color: #ccccccaa;
    overflow-y: scroll;
    line-height: 1;
    border-radius: 5px;
    border-width: 1px;
    border-color: #444444;
    border-style: solid;
}
.filter {
    display:inline-block;
    height: 70vh;
    width: 18%;
    background-color: #ccccccaa;
    overflow-y: scroll;
    line-height: 1;
    padding-left: 0px;
    margin-left: 0.5%;
    border-radius: 5px;
    border-width: 1px;
    border-color: #444444;
    border-style: solid;
}
.listing {
    background-color: #aaaaaa;
    border-style: solid;
    border-width: 2px;
    border-color: #666686;
    border-radius: 5px;
    padding-left: 10px;
}
h3 {
    background-color: #aaaaaa;
    border-style: solid;
    border-width: 3px;
    border-color: #666686;
    border-radius: 5px;
    padding: 3px;
    margin-top: 0px;
    margin-left: 0px;
}
.comment {
    background-color: #eeeeee;
    border-style: solid;
    border-width: 2px;
    border-color: #aaaaff;
    border-radius: 5px;
    padding-left: 10px;
}
.listing:hover {
    background-color: #eeeeee;
    border-style: solid;
    border-width: 2px;
    border-color: #666686;
    border-radius: 5px;
    padding-left: 10px;
}
</style>

{% endblock %}
