{% extends 'legendary/base.html' %}
{% load staticfiles %}

{% block title_block %}
Listings
{% endblock %}

{% block body_block %}
<script src="{% static "js/legendary_listings.js" %}" crossorigin="anonymous"></script>
<div>
    <h1>Welcome to the Legendary Scottish Internships listings page</h1>
</div>

<div class="split listings">
    <button id="hide-non-favourites">Hide Non-Favourites</button>
    {% for listing in listings %}
        <div class="listing">
            <p class="name" style="display: inline-block">{{ listing.name }}</p>
            <p style="display: inline-block"> </p>
            <button class="favourite" style="display: inline-block">Favourite</button>
            <div class="hidden" style="display: none">
                <p class="company">{{ listing.company_id }}</p>
                <p class="description">{{ listing.description }}</p>
                <p class="closedate">{{ listing.closing_date }}</p>
                <p class="startdate">{{ listing.start_date }}</p>
                <p class="enddate">{{ listing.end_date }}</p>
                <p class="salary">{{ listing.salary }}</p>
                <p class="address">{{ listing.address }}</p>
                <p class="checklist">{{ listing.checklist }}</p>
            </div>
        </div>
    {% endfor %}
</div>

<div class="split internship">
    <div class="details">
        <h3 id="name">No internship selected</h3>
        <h4 id="company"></h4>
        <p style="display: inline-block"><strong>Description: </strong></p>
        <p id="description" style="display: inline-block"></p></br>
        <p style="display: inline-block"><strong>Closing Date: </strong></p>
        <p id="closedate" style="display: inline-block"></p></br>
        <p style="display: inline-block"><strong>Starting Date: </strong></p>
        <p id="startdate" style="display: inline-block"></p></br>
        <p style="display: inline-block"><strong>Ending Date: </strong></p>
        <p id="enddate" style="display: inline-block"></p></br>
        <p style="display: inline-block"><strong>Salary: </strong></p>
        <p id="salary" style="display: inline-block"></p></br>
        <p style="display: inline-block"><strong>Address: </strong></p>
        <p id="address" style="display: inline-block"></p></br>
        <p><strong>Things to do: </strong></p>
        <p id="checklist"></p>
        <textarea id="report_reason" type="text">Enter Reason for Reporting</textarea></br>
        <a id="report" href="">Report incorrect/missing information</a>
    </div>
</div>

<style>
.split {
    display:inline-block;
    height: 70vh;
    width: 49%;
    background-color: #222222;
    overflow-y: scroll;
    line-height: 1;
}
.listing {
    background-color: #303030;
    border-style: solid;
    border-width: 2px;
    border-color: #444464;
    border-radius: 5px;
    padding-left: 10px;
}
.listing:hover {
    background-color: #404040;
    border-style: solid;
    border-width: 2px;
    border-color: #444464;
    border-radius: 5px;
    padding-left: 10px;
}
</style>

{% endblock %}
