{% extends 'legendary/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Profile
{% endblock %}

{% block body_block %}
<script src="{% static "js/legendary_profile.js" %}" crossorigin="anonymous"></script>
<h1>Welcome to your Profile</h1>

<div id = "picture">
    <img src="/{{ user.userprofile.picture }}" id="profile_picture">
</div>

<div id = "properties">
    <p id = "username">
        Username : {{ user.username }} 
    </br>
        Email : <a href = {{user.email}}>{{ user.email }}</a>
    </p>
</div>

<div>
<button id = "updateProfileButton" class = "button">Update Profile Picture</button>
<button id = "updateChecklistButton" class = "button">Update Checklist</button>
</div>
<div id="favourite-listings">
    {% for listing in listings %}
        <div class="listing" style="display: inline-block">
            <p class="name" style="display: inline-block">{{ listing.name }}</p>
            <button class="show" style="display: inline-block">Show/Hide</button>
            <p class="company"></p>
            <p class="description"></p>
            <p class="closedate"></p>
            <p class="startdate"></p>
            <p class="enddate"></p>
            <p class="salary"></p>
            <p class="address"></p>
            <p class="checklist"></p>
            <div class="hidden" style="display: none">
                <p class="shown">false</p>
                <p class="company">{{ listing.company_id }}</p>
                <p class="description">{{ listing.description }}</p>
                <p class="closedate">{{ listing.closing_date }}</p>
                <p class="startdate">{{ listing.start_date }}</p>
                <p class="enddate">{{ listing.end_date }}</p>
                <p class="salary">{{ listing.salary }}</p>
                <p class="address">{{ listing.address }}</p>
                <p class="checklist">{{ listing.checklist }}</p>
            </div>
        </div>
    {% endfor %}
</div>
<script type = "text/javascript">
    document.getElementById("updateChecklistButton").onclick = function() {
        location.href = "/legendary/change-checklist/";
    }
    document.getElementById("updateProfileButton").onclick = function() {
        location.href = "/legendary/update-profile/";
    }
</script>

<style>
    h1 {
    text-align: center;
    color: #daf511;
    margin-bottom: 20px;
    }
    
    .listing {
        background-color: #aaaaaa;
        border-style: solid;
        border-width: 2px;
        border-color: #666686;
        border-radius: 5px;
        padding-left: 10px;
    }
    
    .listing:hover {
        background-color: #eeeeee;
        border-style: solid;
        border-width: 2px;
        border-color: #666686;
        border-radius: 5px;
        padding-left: 10px;
    }
    
    #favourite-listings {
        display:inline-block;
        overflow-y: scroll;
        height: 30vh;
        width: 99.5%;
        line-height: 1;
        border-radius: 5px;
        border-width: 1px;
        border-color: #444444;
        border-style: solid;
    }

    #user_profile_form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
        margin: auto;
        transform: translate(0px, 15vh);
        background-image: url('profile.jpg');
    }

    #user_profile_form input[type="text"],
    #user_profile_form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #user_profile_form input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    #user_profile_form input[type="submit"]:hover {
        background-color: #45a049;
    }
    
    #spacer {
        height: 30vh;
    }

    body{
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-image:url("{% static 'images/profile.jpg' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
    }

    button{
        width: 200px;
        height: 30px;
    }

    #profile_picture{
        border: 7px solid white;
        border-radius: 10%;
        border-top-right-radius: 0%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        height: 300px;
        width: 300px;
        object-fit: cover;
    }

    #username {
        margin-top: 10%;
        position: absolute;
    }

    #email{
        position: absolute;
    }

    #picture{
        width: calc(50% - 40px);
        display: inline;
    }

    #properties{
        width: calc(50% - 40px);
        display: inline;
        vertical-align: top;
        position: relative;
    }

    p{
        background-color: white;
        border: 7px solid white;
        border-top-right-radius: 5%;
        border-bottom-right-radius: 5%;
        text-align: left;
        display: inline;
        font-size: 20px;
    }
    
    .listing p{
        background-color: #0000;
        border-width: 0px;
        border-radius: 0px;
        text-align: left;
        display: block;
        font-size: 16px;
    }
    
    .show {
        width: 100px;
        height: 20px;
    }
</style>
{% endblock %}
