{% extends 'legendary/base.html' %}
{% load staticfiles %}

{% block title_block %}
    UpdateChecklist
{% endblock %}

{% block body_block %}
<h1>Update your Checklist</h1>
<form id="ChangeChecklistForm" method="post" action="{% url 'legendary:change-checklist' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="submit" />
</form>
<div id="spacer"></div>

<style>
    h1 {
    text-align: center;
    color: #daf511;
    margin-bottom: 20px;
    }

    #ChangeChecklistForm {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
        margin: auto;
        transform: translate(0px, 15vh);
    }

    #ChangeChecklistForm input[type="text"],
    #ChangeChecklistForm input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    #ChangeChecklistForm input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    #ChangeChecklistForm input[type="submit"]:hover {
        background-color: #45a049;
    }
    
    #spacer {
        height: 30vh;
    }

    body{
        margin: 0;
        padding: 0;
        min-height: 100vh;
        background-image:url("{% static 'images/updateChecklist.jpg' %}");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
    }
</style>
{% endblock %}


